*.swp
*.*~
project.lock.json
.DS_Store
*.pcy

#Visual Studio Code
.vscode

#User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

#Build results
[Dd]ebug/
[Dd]debugPublic/
[Rr]Release/
[Rr]Releases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

